#root {
  max-width: 1280px;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.menu {
  display: flex;
}

.level-0 {
  width: 100px;
}

.level-1 {
  left: 100px;
  width: 200px;
}

.selected {
  border: 2px solid red;
}

.crumb-path {
  display: flex;
  flex-direction: row;
}

.crumb-path > .crumb:not(:last-child):after {
  content: '>';
  margin: 0 5px;

}
