#root {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  --item-0-color: 215deg, 100%, 50%;
  --item-1-color: 120deg, 100%, 30%;
  --item-2-color: 80deg, 70%, 30%;
  --item-3-color: 0deg, 100%, 40%;
  --item-4-color: 20deg, 100%, 50%;
  --item-5-color: 50deg, 100%, 50%;
  --item-6-color: 25deg, 20%, 60%;
}

* {
  box-sizing: border-box;
}

.root {
  flex: 1;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: black;
  color: white;
  font-weight: 500;
  display: flex;
  overflow: hidden;
}

.menu {
  width: 100%;
}

.menu > .container {
  display: flex;
  width: max-content;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu.scroll-container {
  width: 100%;
  overflow-x: auto;
}

.item {
  display: flex;
  cursor: pointer;
}

.index {
  display: none;
  margin: 4px;
}

.label, .level-heading {
  padding: 4px;
}

.level-0 .item-0.selected {
  background-color: hsl(var(--item-0-color));
}

.level-0.container:has(.item-0.selected) {
  border-right: 2px solid hsl(var(--item-0-color));
}

.level-0 .item-1.selected {
  background-color: hsl(var(--item-1-color));
}

.level-0.container:has(.item-1.selected) {
  border-right: 2px solid hsl(var(--item-1-color));
}

.level-0 .item-2.selected {
  background-color: hsl(var(--item-2-color));
}

.level-0.container:has(.item-2.selected) {
  border-right: 2px solid hsl(var(--item-2-color));
}

.level-0 .item-3.selected {
  background-color: hsl(var(--item-3-color));
}

.level-0.container:has(.item-3.selected) {
  border-right: 2px solid hsl(var(--item-3-color));
}

.level-0 .item-4.selected {
  background-color: hsl(var(--item-4-color));
}

.level-0.container:has(.item-4.selected) {
  border-right: 2px solid hsl(var(--item-4-color));
}

.level-0 .item-5.selected {
  background-color: hsl(var(--item-5-color));
}

.level-0.container:has(.item-5.selected) {
  border-right: 2px solid hsl(var(--item-5-color));
}

.level-0 .item-6.selected, .level-0 .item-7.selected {
  background-color: hsl(var(--item-6-color));
}

.level-0.container:has(.item-6.selected), .level-0.container:has(.item-7.selected) {
  border-right: 2px solid hsl(var(--item-6-color));
}

.level-0 .item .label {
  display: flex;
  font-size: 8px;
}

.level-0 > .level-heading {
  display: none;
}

.level-0 {
  flex: 0;
  font-size: 8px;
  position: absolute;
  background: black;
  height: 100%;
}

.level-0 .item {
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.level-0 .icon {
  display: flex;
  width: 100%;
  justify-content: center;
}

.level-0 .icon img {
  width: 30px;
  height: auto;
}

.level:not(.level-0):has(+ .level) {
  display: none;
}

.level:not(.level-0) .container {
  position: relative;
  width: 30ch;
  padding-top: 1.3lh;
}

.level:not(.level-0).scroll-container {
  margin-left: 46px;
  height: 100%;
  overflow-y: scroll;
}

.level:not(.level-0) .level-heading {
  text-align: center;
  border-bottom: 1px solid #464646;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.3lh;
}

.level-1 .level-heading {
  text-transform: uppercase;
}

.level:not(.level-0) .selected .label {
  background-color: #ffc800;
  color: black;
  flex: 1;
}

.level:not(.level-0) .item {
  margin-top: 4px;
  background-color: #111;
}

.nav-buttons {
  display: none;
}

.level:not(.level-0, .level-1) + .nav-buttons {
  display: flex;
  width: 50px;
  margin-left: -50px;
  height: 100%;
  margin-top: 2px;
  align-items: center;
  border: 1px solid #464646;
  border-radius: 4px;
  justify-content: center;
}

.back-button {
  cursor: pointer;
  z-index: 1;
}

.back-button::after {
  content: 'Back';
}

.crumb-path.scroll-container {
  display: none;
}

.level {
  display: flex;
  flex-direction: column;
}

.has-help {
  display: none;
}

.container > :nth-last-child(1 of .level) .has-help {
  display: block;
}
