#root {
  max-width: 1280px;
}

* {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: black;
  color: white;
  font-weight: 500;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.index {
  display: none;
  margin: 4px;
}

.label {
  padding: 4px;
  display: inline-block;
  border-radius: 2px;
  flex: 1;
  margin-right: 4px;
}

.level-0 .item-0, .level-1.category-0 .index {
  background-color: #444444;
}

.level-0 .item-1, .level-1.category-1 .index {
  background-color: #de0937;
}

.level-0 .item-2, .level-1.category-2 .index {
  background-color: #de21a5;
}

.level-0 .item-3, .level-1.category-3 .index {
  background-color: #a324de;
}

.level-0 .item-4, .level-1.category-4 .index {
  background-color: #0b7cde;
}

.level-0 .item-5, .level-1.category-5 .index {
  background-color: #43de3e;
}
.level-0 .item-6, .level-1.category-6 .index {
  background-color: #dea300;
}

.level-0 {
  flex: 0;
  font-size: 8px;
}

.level-0 .item {
  opacity: 0.5;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.level-0 .label {
  display: none;
}

.level-0 .item.selected {
  opacity: 1;
}

.level-0 .icon {
  display: flex;
  width: 100%;
  justify-content: center;
}

.level-0 .icon img {
  width: 30px;
  height: auto;
}

.level-1 {
  background-color: #181818;
  flex: 1;
  padding-left: 4px;
}

.level-1 .index {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.level-1 .selected .label, .level-2 .selected .label {
  background-color: #cd2701;
}

.level-2 {
  background: #292929;
  flex: 1;
}

.level-2 .item {
  padding: 4px;
}

.level-2 .item:not(:first-child) {
  border-top: 1px solid #464646;
}

.level-3 {
}

.crumb-path {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}

.crumb-path > .crumb:not(:last-child):after {
  content: '>';
  margin: 0 5px;
}

