#root {
  max-width: 1280px;
  --border-color: rgb(197, 197, 197);
  display: flex;
}

* {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  max-height: 500px;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: black;
  color: white;
  font-weight: 500;
  flex: 1;
  display: flex;
}

.menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu > .container {
  width: 100%;
  position: relative;
}

.item {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.index {
  display: none;
  margin: 4px;
}

.label {
  padding: 4px;
  display: inline-block;
  flex: 1;
}

.level-0.scroll-container {
  width: 100%;
}

.level-0.container {
  display: flex;
  flex-direction: row;
}

.level-0.container::before {
  width: 10px;
}

.level-0.container::after {
  flex: 1;
}
.level-0 .item-0 {
  background: linear-gradient(0deg, hsl(0, 100%, 18%), black);
}

.level-0 .item-0.selected {
  background: linear-gradient(180deg, hsl(0, 100%, 27%), black);
}

.level-0 .item-1 {
  background: linear-gradient(0deg, hsl(277, 100%, 18%), black);
}

.level-0 .item-1.selected {
  background: linear-gradient(180deg, hsl(277, 100%, 27%), black);
}

.level-0 .item-2 {
  background: linear-gradient(0deg, hsl(154, 100%, 18%), black);
}

.level-0 .item-2.selected {
  background: linear-gradient(180deg, hsl(154, 100%, 27%), black);
}

.level-0 .item-3 {
  background: linear-gradient(0deg, hsl(198, 100%, 18%), black);
}

.level-0 .item-3.selected {
  background: linear-gradient(180deg, hsl(198, 100%, 27%), black);
}

.level-0 .item-4 {
  background: linear-gradient(0deg, hsl(50, 100%, 18%), black);
}

.level-0 .item-4.selected {
  background: linear-gradient(180deg, hsl(50, 100%, 35%), black);
}

.level-0 .item-5 {
  background: linear-gradient(0deg, hsl(50, 0%, 18%), black);
}

.level-0 .item-5.selected {
  background: linear-gradient(180deg, hsl(50, 0%, 35%), black);
}

.level-0 {
  flex: 0;
  font-size: 8px;
}

.level-0.container::before, .level-0.container::after {
  border-bottom: 1px solid var(--border-color);
  content: '';
}

.level-0 .item {
  height: 40px;
  width: 50px;
  overflow: hidden;
}

.level-0 .item {
  border-bottom: 1px solid var(--border-color);
}

.level-0 .label {
  font-size: 0;
}

.level-0 .item.selected {
  opacity: 1;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: none;
}

.level-0 .icon {
  display: flex;
  width: 100%;
  justify-content: center;
}

.level-0 .icon img {
  width: 30px;
  height: auto;
}

.level-1 {
  flex: 1;
}

.level-1.scroll-container {
  flex-grow: 0;
}

.level-1.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
  padding-bottom: 4px;
  min-height: 62px;
  counter-reset: item-counter;
  position: relative;
}

.level-1 .item {
  text-align: center;
  counter-increment: item-counter;
}

.level-1 .item.selected::after {
  content: counter(item-counter);
  display: block;
  order: 2;
  position: absolute;
  top: 4px;
  right: 3.3ch;
}

.level-1.container::after {
  content: "/ " counter(item-counter);
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
}

.level-1 .item.selected {
  order: 0;
  flex-basis: 100%;
  padding: 0 10px;
}

.level-1 .item.selected + .item::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, hsl(22, 100%, 36%), hsl(22, 100%, 22%));
  flex-grow: 0;
  margin: 4px;
}

.level-1 .item:not(.selected) {
  order: 3;
}

.level-1 .item:not(.selected)::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, hsl(22, 0%, 36%), hsl(22, 0%, 22%));
  flex-grow: 0;
  margin: 4px;
}

.level-1 .item:not(.selected) .label {
  display: none;
}

.level-1 .level-heading, .level-2 .level-heading {
  display: none;
}

.level-1 .index {
  display: none;
}

.level-2.scroll-container {
  margin-top: 1px;
}

.level-2 .selected .label, .level-3 .selected .label  {
  border: 1px solid #ff7300;
  background: linear-gradient(180deg, hsl(22, 100%, 36%), hsl(22, 100%, 22%));
}

.level-2 .item {
  margin: 0 10px;
}

.level-3.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px 40px;
  background-color: #101010;
  border: 1px solid white;
}

.level-3.scroll-container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #101010;
  opacity: 0.5;
  pointer-events: none;
}

.level-3 .level-heading  {
  border-bottom: 1px solid gray;
  padding: 4px 8px;
}

.level-3 .item {
  padding: 4px;
  margin: 0 10px;
}

.level-3 .label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.level-3 .label::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(137, 137, 137);
  border: 1px solid black;
  border-radius: 50%;
}

.level-3 .selected .label::before {
  background: linear-gradient(180deg, #cd6001, #8a2501);
}

.level-3 .item {
  border-bottom: 1px solid #2a2a2a;
}

.nav-buttons {
  display: none;
}

.level-3 ~ .nav-buttons {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid gray;
  position: absolute;
  bottom: 10px;
  right: 40px;
  left: 40px;
  padding: 4px;
}

.back-button::after {
  content: 'Back';
  padding: 4px 8px;
  cursor: pointer;
}

.crumb-path {
  display: none;
}
